<h1>stock search</h1>

<%= @stored_stock_timeseries %>
<%= @stored_news %>
<%= @search_item %>
<%= session.inspect %>

<div>
  <%= search_form_for @q do |f| %>

    <%= f.label :company_name_or_ticker_cont %>
    <%= f.search_field :company_name_or_ticker_cont %>

    <%= f.submit %>
  <% end %>
</div>
<% @stocks.each do |stock| %>
  Ticker:
  <%= stock.ticker %>
  <br>
  Company name:
  <%= stock.company_name %>
  <br>
  <div data-turbo-prefetch="false">
    <%= link_to "Get Stock Quote", stock_path(stock.id) %>
  </div>
  <br>
<% end %>

<% if @general_news %>
  <% @general_news.each do |news| %>
    <a href=<%= news[:url] %>>
      <%= news[:source_domain] %>
      <br>
      <%= news[:title] %>
      <br>
      <%= DateTime.strptime(news[:time_published], "%Y%m%dT%H%M%S").strftime(
        "%d/%m/%Y %H:%M:%S",
      ) %>
      <%= DateTime.strptime(news[:time_published], "%Y%m%dT%H%M%S").class %>
      <%= DateTime.now %>
    </a>
    <br>
    <br>
  <% end %>
<% end %>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= link_to "Stocks", stocks_path %>
