<h1 class="text-center mt-5">Stock Search</h1>

<div class="d-flex w-100 justify-content-center mt-3">
    <% if @q.present? && !@stocks.first.present?%>
      <%= search_form_for @q, html: { class: 'd-flex flex-column w-100 align-items-center input-group-lg' } do |f| %>
  <%# # Search if an associated articles.title starts with... %>
      <% f.label :company_name_or_ticker_start %>
      <%= f.search_field :company_name_or_ticker_start, class:"form-control outline-light w-75 my-3" %>
      <%= f.submit class: "btn btn-primary" %>
     <% end %>
  <% end %>
</div>
<div class="bd-callout bd-callout-info">

<!-- for testing -->
<% @stocks.each do |stock| %>
  Ticker:
  <%= stock.ticker %>
  <br>
  Company name:
  <%= stock.company_name %>
  <br>
  <%= link_to "Get Stock Quote", stock_path(stock.id) %>
  <br>
<% end %>

<div class="container mt-5">
  <% 9.times.each_slice(3) do |slice| %>
    <div class="row my-4">
      <% slice.each do %>
        <div class="col-md-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>










<% button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger"  %>
<% link_to "Edit Account", edit_user_registration_path %>
<% link_to "Stocks", stocks_path %>
<!-- WRITE THE SEARCH BAR HERE -->
<br>
<!-- WRITE THE NEWS STUFF HERE -->
