<h1>stock search</h1>

<div>
  <%= search_form_for @q do |f| %>

  # Search if an associated articles.title starts with...
  <%= f.label :company_name_or_ticker_start %>
  <%= f.search_field :company_name_or_ticker_start %>

  <%= f.submit %>
<% end %>
</div>

<!-- for testing -->
<% @stocks.each do |stock| %>
  Ticker:
  <%= stock.ticker %>
  <br>
  Company name:
  <%= stock.company_name %>
  <br>
  <br>
<% end %>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= link_to "Stocks", stocks_path %>
<!-- WRITE THE SEARCH BAR HERE -->
<br>
<!-- WRITE THE NEWS STUFF HERE -->
