<h1>Stocks</h1>
<%= @stock.company_name %>
<br>
<br>
<%= @stock.ticker %>
<br>
<br>
<% if @stock_timeseries %>
  Price/Close:
  <%= @stock.price %>
  <br>
  <br>
  Open:
  <%= @stock.open %>
  <br>
  <br>
  High:
  <%= @stock.high %>
  <br>
  <br>
  Low:
  <%= @stock.low %>
  <br>
  <br>
  Volume:
  <%= @stock.volume %>
  <br>
  <br>
<% end %>

<% if @stock_news %>
  <% @stock_news.each do |news| %>
    <a href=<%= news["url"] %>>
      <%= news["source_domain"] %>
      <br>
      <%= news["title"] %>
      <br>
      <%= news["time_published"] %>
    </a>
    <br>
    <br>
  <% end %>
<% else %>
  The Alphavantage API isn't working at the moment...
<% end %>
