<h1>Stocks</h1>
<%= @stock.company_name %>
<br>
<br>
<%= @stock.ticker %>
<br>
<br>
<% if @stock_timeseries %>
  Price/Close:
  <%= @stock.price %>
  <br>
  <br>
  Open:
  <%= @stock.open %>
  <br>
  <br>
  High:
  <%= @stock.high %>
  <br>
  <br>
  Low:
  <%= @stock.low %>
  <br>
  <br>
  Volume:
  <%= @stock.volume %>
  <br>
  <br>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Buy this stock
  </button>
  <br>
  <br>
<% end %>


<% if @stock_news %>
  <div class="container mt-5">
    <% @stock_news.each_slice(3) do |slice| %>
      <div class="row my-4">
        <% slice.each do |news| %>
          <div class="col-md-4">
            <div class="card">
              <img src="<%= news['image_url'] %>" class="card-img-top" alt="<%= news['title'] %>">
              <div class="card-body">
                <h5 class="card-title"><%= news["title"] %></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted"><%= news["time_published"] %></small></p>
              </div>
                <div class="card-footer">
                  <a href="#" class="d-inline-block stretched-link text-truncate mw-100"><%= news["url"] %></a>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  The Alphavantage API isn't working at the moment...
<% end %>






<!-- Button trigger modal -->
<% if @stock.price %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Buy
</button>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <%= @stock.ticker %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: Transaction.new, local: true do |form| %>
          
          <fieldset disabled>
            <%= form.label "Price per share" %>
            <%= form.number_field :share_price, value: @stock.price %>
          </fieldset>

          <%= form.label "Number of shares" %>
          <%= form.number_field :share_qty %>

          <fieldset disabled>
            <%= form.label "Total Price" %>
            <%= form.number_field :amount, value: 0 %>
          </fieldset>

          <% form.label :transaction_type %>
          <%= form.hidden_field :transaction_type, value: "buy" %>

          <% form.label :stock_id %>
          <%= form.hidden_field :stock_id, value: @stock.id %>

          
      </div>
      <div class="modal-footer">
     <%= button_to "Submit", transactions_path, method: :post, class: "btn btn-primary" %> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
       <% end %>
    </div>
  </div>
</div>
