<h1>Stocks</h1>
<%= @stock.company_name %>
<br>
<br>
<%= @stock.ticker %>
<br>
<br>
Price
<%= @stock_timeseries.time_series_daily.first[1].close unless @stock_timeseries.nil? %>
<br>
<br>
<% if @stock_news %>
  <% @stock_news.each do |news| %>
    <a href=<%= news[:url] %>>
      <%= news[:source_domain] %>
      <br>
      <%= news[:title] %>
      <br>
      <%= DateTime.strptime(news[:time_published], "%Y%m%dT%H%M%S").strftime(
        "%d/%m/%Y %H:%M:%S",
      ) %>
      <%= DateTime.strptime(news[:time_published], "%Y%m%dT%H%M%S").class %>
      <%= DateTime.now %>
    </a>
    <br>
    <br>
  <% end %>
<% end %>
