  <div>  
    <div class="mx-5 mt-5 d-flex align-items-center justify-content-between">
      <div>
        <h1 class="display-1 text-dark">
          <strong><%= @stock.ticker %></strong>
        </h1>
        <h4 class="mx-2 text-dark" style="opacity:0.75;">
          <%= @stock.company_name %>
        </h4>
      </div>
      <% if @stock.price && current_user.status.approved? %>
        <button type="button" 
            class="btn btn-outline-primary border-primary ml-auto d-flex justify-content-center align-items-center text-center py-auto" 
            data-toggle="modal"
            data-target="#exampleModalCenter">
            <h3 class="text pt-1">Buy this stock</h3>
        </button>
      <% end %>
    </div>

<div class="d-block bg-primary mx-auto shadow" style="width:95%; height: 0.1rem;"></div>

    <% if @stock_timeseries %>
    <div class="d-flex flex-fill mx-5 p-2 align-items-center justify-content-between">
        <% old_stock = nil %>
        <% k = 2 %>
          <% while old_stock.nil? && k <= 10 %>
              <% old_date = (Time.now - k.days).strftime("%Y-%m-%d").to_s %>
              <% old_stock = @stock_timeseries["time_series_daily"][old_date] %>
              <% k += 1 %>
          <% end %>
        <% old_data = old_stock["close"] %>
        <% change = (old_data.to_f - @stock.price.to_f).round(2) %>
        <% percent = ((old_data.to_f - @stock.price.to_f)/old_data.to_f*100).round(2) %>
      <div class="text-center d-flex flex-fill">
        <div class="d-flex">
          <h1 class="d-flex align-items-center justify-content-center text-center flex-fill"><strong class="mr-3"><%= @stock.price %></strong> 
           <% if percent < 0 %>
              <button type="button" class="btn btn-danger d-flex justify-content-center mx-2">
                <div class="d-flex align-items-center">
                  <h4 class="mb-0"><strong><%= "#{change}" %></strong> </h4>
                  <span class="badge badge-light badge-pill text-danger mx-2"><%= "-#{percent}%" %></span>
                </div>
              </button>
            <% else %>
              <button type="button" class="btn btn-primary d-flex justify-content-center mx-auto px-3">
                <div class="d-flex align-items-center">
                  <h4 class="mb-0"><strong><%= "+#{change}" %></strong> </h4>
                  <span class="badge badge-light badge-pill text-primary mx-2"><%= "+#{percent}%" %></span>
                </div>
              </button>
            <% end %>
          </h1>
      </div>

      <div class="d-flex ml-auto text-primary flex-fil">
        <span class="text pl-4 my-auto"><strong>Open: <%= @stock.open %></strong></span>
        <span class="text pl-4 my-auto"><strong>Previous Close: <%= old_data.to_f.round(2) %></strong></span>
        <span class="text pl-4 my-auto"><strong>Volume: <%= @stock.volume %></strong></span>
      </div>

  </div>



 

<% end %>

</div>
<%= render "stocks_graph" %>

  <h5 class="text-primary ml-5 mt-5">
      <%= "Read articles realated to #{@stock.company_name}..." %>
  </h5>

<div class="d-block bg-primary mx-auto shadow" style="width:95%; height: 0.1rem;"></div>

<% if @stock_news %>
  <div class="container mt-5">
    <% @stock_news.each_slice(3) do |slice| %>
      <div class="row my-4">
        <% slice.each do |news| %>
          <div class="col-md-4">
            <div class="card">
              <img src="<%= news['banner_image'] %>" class="card-img-top" alt="<%= news['title'] %>">
              <div class="card-body">
                <h5 class="card-title"><%= news["title"] %></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted"><%= news["time_published"] %></small></p>
              </div>
                <div class="card-footer">
                  <a href="#" class="d-inline-block stretched-link text-truncate mw-100"><%= news["url"] %></a>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  The Alphavantage API isn't working at the moment...
<% end %>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <%= @stock.ticker %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: Transaction.new, local: true do |form| %>
          
          <fieldset disabled>
            <%= form.label "Price per share" %>
            <%= form.number_field :share_price, value: @stock.price %>
          </fieldset>

          <%= form.label "Number of shares" %>
          <%= form.number_field :share_qty %>

          <fieldset disabled>
            <%= form.label "Total Price" %>
            <%= form.number_field :amount, value: 0 %>
          </fieldset>

          <% form.label :transaction_type %>
          <%= form.hidden_field :transaction_type, value: "buy" %>

          <% form.label :stock_id %>
          <%= form.hidden_field :stock_id, value: @stock.id %>

          
      </div>
      <div class="modal-footer">
     <%= button_to "Submit", transactions_path, method: :post, class: "btn btn-primary" %> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
       <% end %>
    </div>
  </div>
</div>
