<div>
  <h1>Details</h1>
  <ul>
    <% @stocks.uniq(&:ticker).each do |stock| %>
      <li>
        <strong>Ticker:</strong>
        <%= stock.ticker %>
      </li>
      <li>
        <strong>Company Name:</strong>
        <%= stock.company_name %>
      </li>
      <li>
        <strong>Current Price:</strong>
        <%= stock.price %>
      </li>
      <ul>
        <strong>Average Price:</strong>
        <%= stock.transactions.avg_price %>
      </ul>
      <li>
        <strong>Gains/Losses:</strong>
        <%= stock
          .transactions
          .map(&:calc_gains_or_losses)
          .reduce { |acc, curr| acc + curr } / stock.transactions.length %>
      </li>
    <% end %>
  </ul>
</div>
