<div>
  <h1>Details</h1>
  <ul>
    <% @stocks.uniq(&:ticker).each do |stock| %>
      <li>
        <strong>Ticker:</strong>
        <%= stock.ticker %>
      </li>
      <li>
        <strong>Company Name:</strong>
        <%= stock.company_name %>
      </li>
      <%# ask team current price variable for model %>
      <li>
        <strong>Current Price:</strong>
        <% Stock.find(stock.id).set_or_fetch_stock_data %>
        <%= Stock.find(stock.id).price %>
      </li>
      <li>
        <strong>No. Of Shares Owned:</strong>
        <%= stock.transactions.total_shares %>
      </li>
      <li>
        <strong>Average Price:</strong>
        <%= stock.transactions.avg_price %>
      </li>
      <li>
        <strong>Gains/Losses:</strong>
        <%= stock
          .transactions
          .map(&:calc_gains_or_losses)
          .reduce { |acc, curr| acc + curr } / stock.transactions.length %>
      </li>
      <% end %>
  </ul>
</div>



