<div>
  <h1>Details</h1>
  <ul>
    <% @stocks.uniq(&:ticker).each do |stock| %>
      <% stock_transactions = @transactions.where(stock_id: stock.id) %>
      <li>
        <strong>Ticker:</strong>
        <%= stock.ticker %>
      </li>
      <li>
        <strong>Company Name:</strong>
        <%= stock.company_name %>
      </li>
      <li>
        <strong>Current Price:</strong>
        <%= stock.price %>
      </li>
      <li>
        <strong>No. Of Shares Owned:</strong>
        <%= Transaction.total_shares(stock_transactions) %>
      </li>
      <li>
        <strong>Average Price:</strong>
        <%= Transaction.avg_price(stock_transactions) %>
      </li>
      <li>
        <strong>Gains/Losses:</strong>
        <!-- TODO: make this pretty -->
        <% stock_transactions = @transactions.where(stock_id: stock.id) %>
        <% current_share_price = stock.price %>
        <%= stock_transactions.reduce(0) do |total, transaction|
          total + transaction.calc_gains_or_losses(current_share_price)
        end / stock_transactions.count %>
        <br>
      </li>
    <% end %>
  </ul>
</div>
