<div class="m-4 text-center">
    <h2>Users</h2>

<table class="table table-striped table-hover my-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Confirmed?</th>
      <th scope="col">Date Created</th>
      <th scope="col">Approve User</th>
      <th scope="col">Deny User</th>
      <th scope="col">Delete User</th>
    </tr>
  </thead>
   <tbody>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td>
        <span class="text-lowercase text-monospace"><%= link_to "Edit", edit_admin_user_path(user) %></span>
        <%= user.email %>
      </td>
            
      <td><%= user.role %></td>
      <td><%= user.status.status_type %></td>
      <td><%= user.confirmed? %></td>
      <td><%= user.created_at.strftime('%Y-%m-%d') %></td>

       <td> 
        <%= button_to "Approve",
        admin_user_approve_trader_account_path(user),
         class:"btn btn-success",
        method: :patch,
        disabled: user.status.approved? ? true : false,
        data: {
          confirm: "Approve this user?",
        } %>
        </td>
        <td>
           <% if user.status.status_type.downcase == "approved" %>
               <%= button_to "Deny",
                    admin_user_deny_trader_account_path(user),
                    class: "btn btn-primary",
                    method: :patch,
                    disabled: true,
                    data: { confirm: "Deny this user?" } %>
             <% else %>
                <%= button_to "Deny",
                    admin_user_deny_trader_account_path(user),
                    class: "btn btn-primary",
                    method: :patch,
                    data: { confirm: "Deny this user?" }
                     %>
             <% end %>
        </td>
        <td>
        <%= button_to "Delete", admin_user_path(user),
          class:"btn btn-danger",
        method: :delete,
        data: {
          confirm: "This process is irreversible. Continue?",
        } %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>