<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <%= link_to root_path, class: "navbar-brand" do %>
  <div class="rounded-circle overflow-hidden" style="width: 40px; height: 40px;">
    <%= image_tag("DiviSoaria.png", height: "40", alt: "DiviSoaria Logo", ) %>
    </div>
  <% end %>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between align-items-center"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= request.fullpath == root_path ? 'active' : '' %>">
        <%= link_to "HOME", root_path, class: "nav-link font-weight-bold" %>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          haref="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <%= link_to "All Transactions", admin_transactions_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <% if current_user.present? && current_user.trader? && current_user.confirmed_at? %>
        <li class="nav-item <%= request.fullpath.include?('stock') ? 'active' : '' %>">
          <%= link_to "Stocks", stocks_path, class: "nav-link" %>
        </li>
  
      <% end %>

      <% if current_user.present? && current_user.trader? && current_user.confirmed_at? && current_user.status.approved? %>
        <li class="nav-item <%= request.fullpath.include?('portfolio') ? 'active' : '' %>">
          <%= link_to "Portfolio", portfolio_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link" %>
      </li>
      <% end %>

      <!-- NOTE: Links accessible only to admins -->
      <% if current_user.present? && current_user.admin? %>
        <li class="nav-item">
          <%= link_to "All Users", admin_users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New User", new_admin_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link" %>
      </li>
      <% end %>

      
    </ul>

  </div>
  
  
  <div class="d-flex mr-2 align-items-center justify-content-around">
    <% if current_user.present? %>
    <span class="text-primary text-center p-0 h-50 mx-3"> <%= "Welcome, #{current_user.email.split("@").first.upcase}" %> </span>
    <% end %>
    <%= identicon_for(current_user) if current_user.present? %>
  </div>
  <% if current_user.present? %>
    <%= button_to "Sign Out",
    destroy_user_session_path,
    method: :delete,
    class: "btn btn-danger mx-2" %>
  <% else %>
    <%= button_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Create Account",
    new_user_registration_path,
    class: "btn btn-outline-primary mx-2" %>
  <% end %>
</nav>

<nav class="navbar navbar-dark bg-light shadow text-truncate">
  <% 6.times do |t| %>
    <div class="m-2">
      <span class="badge badge-pill badge-success">SMPL</span>
      <span class="text-success">+0.4%</span>
    </div>
    <div class="m-2">
      <span class="badge badge-pill badge-danger">LPMS</span>
      <span class="text-danger">-0.2%</span>
    </div>
  <% end %>
</nav>

