<!DOCTYPE html>
<html>
  <head>
    <title>TradingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <!-- FOR DEBUGGING -->
    <% if current_user.admin? %>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <br>
    CURRENT_USER:
    <%= current_user.inspect %>
    <br>
    STATUS:
    <%= current_user.status.status_type if current_user %>
    <br>
    CONFIRMED_DATE:
    <%= current_user.confirmed_at if current_user %>
    <br>
    PARAMS:
    <%= debug(params) if Rails.env.development? %>
    <br>
    PATH:
    <%= request.fullpath if Rails.env.development? %>
  </footer>
</html>
