<div class="card my-4">
  <div class="card-body">
    <h2 class="card-title text-dark text-center mb-4">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-group" }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, class: "form-label" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter email" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "form-label my-0" %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted my-0"><%= @minimum_password_length %> characters minimum</small>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "form-label" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm password" %>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="mx-4"><%= render "users/shared/links" %></div>